* {
	box-sizing: border-box;
}
html {
	width: 100%;
	overflow-x:hidden; 
	background-color: #F7F7F7;
}
body {
	font-family:'Roboto Condensed','Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
	margin: 0;
}
#wrapper {
	max-width: 900px;
    margin: auto;
}
button:focus {
	outline-color: #ff7500;
}
button:hover {
	cursor: pointer;
	cursor: hand;
}

img {
	width: 3em;
}

header h1 {
	font-size: 2em;
    margin: 0.5rem;
}

.date {
	background-color: black;
    padding: 1rem;
}
#select_user {
	text-align: center;
}
#select_user button {
	background-color: rgb(61, 116, 128);
	position: relative;
    top: 1rem;
}
#select_user button img {
	width: 3rem;
}
#select_user h2  {
	margin: 0;
    background-color: #e0e2d4;
    color: #2c7cb7;
}
#select_user form { 
	margin-left: 1rem;
}
#select_user form > * {
	font-size: 1.2em;
}

#legend {
    margin-bottom: 0.5rem;
}
#legend > div {
    padding: 0.2rem;
    margin: 0 0.5rem;
    display: inline-block;
}
.l_today {
	/*background-color: #539aff;*/
    box-shadow: 0px 0px 0px 3px #539aff;
}
.l_workfromhome {
    color: white;
    background-color: #767676;
}
.l_goingtowork {
    background-color: #ffffff;
    border: solid rgb(217, 217, 217) 1px;
}


.deskvsemployee {
	background-color: #136bab;
}

/*maindesk*/
#maindeskvsemployee {
	width: 100%;
	border: none;
}
#maindeskvsemployee .desk {
	position: relative;
    text-align: center;
    margin-left: 20%;
}
#maindeskvsemployee img {
	width: 2em;
    padding: 0 1rem;
    height: 2em;
    box-sizing: initial;
}
#maindeskvsemployee span {
	font-size: 2em;
	color: white;
}
#maindeskvsemployee > div {
	display: inline-block;
	vertical-align: middle;
}


/*deskuserinput*/
#deskuserinput h3 {
	margin: 0;
}
#deskuserinput .desk {
	color: #d7d7d7;
	text-align: center;
}
#deskuserinput .week {
	position:relative;
}
#deskuserinput .week > div > form {
	margin: 0;
}
#deskuserinput .week button {
	width: 100%;
	background-color: transparent;
	border: none;
	color: white;
	text-align: left;	
	background-color: #136bab;
    margin: 0;
    padding: 0;
}
#deskuserinput button > div {
	width: 20%;
	display: inline-block;
	vertical-align: middle;
}
#deskuserinput button > div:first-child {
	background-color: black;
	margin: 0;
	padding: 0.5rem 0;
	text-align: center;
}
#deskuserinput button .deskvsemployee {
	width: 78%;

}
#deskuserinput .past {
	display: none;
}
#deskuserinput .weeknumber {
	width: 20%;
    position: absolute;
    left: 0;
    transform-origin: left top;
    transform: rotate(-90deg);
    color: white;
}
#deskuserinput .monday {
	border-top: #a7a7a7 solid;
}
#deskuserinput .weeknumber span {
	margin-left: 0.5rem;
}
#deskuserinput .deskvsemployee span {
	font-weight: bold;
	color: white;
}

#deskuserinput .emptydesk .deskvsemployee  {
	border-left: #d1d1d1 solid 0.5rem;
	background-color: #717171;
}

.positive {
	border-left: #228b00 solid 0.5rem;
}
.negative {
	border-left: #c10000 solid 0.5rem;
}

@media (max-width: 600px) { 

}