body {
	font-family: sans-serif;
	margin: 0;
}
#wrapper {
	max-width: 1600px;
    margin: auto;
}
.deskvsemployee {
	display: flex;
	flex-wrap:nowrap;
	justify-content: space-around;
	color: white;
}
.date {
    width: 80%;
    padding: 2rem;
    font-size: 3em;
    text-align: center;
    margin: auto;
    background-color: #004b6f;
    color: white;
    margin-bottom: 3rem;
}
.deskvsemployee div {
	width: 30%;
	background-color: #0090d4;
	padding: 2rem;
	font-size: 5em;
    text-align: center;
	
}
header {
	width: 80%;
	padding: 1rem 2rem;
	margin: auto;
	display: flex;
    color: #4B4B4B;
    align-items: center;
    justify-content: space-between;
}
header a {
	color: inherit;
    text-decoration: none;
}
header img {
	height: 2em;
    position: relative;
    top: 0.5em;
}
nav {
	font-size: 1.5em;
}
img {
	height: 1em;
}
.userinfo span {
	    background-color: #0A5AAD;
    border: 1px solid;
    padding: 1rem;
}
.userinfo {
	display: flex;
    color: #FFFFFF;

    justify-content: flex-start;
    padding: 1rem;
}
.settings {
	width: 80%;
    margin: auto;
}
li {
	list-style-type: none;
}
li > span {
	background-color: #04447C;
    color: white;
    width: 30%;
    display: block;
    padding: 1rem;
    border: 1px solid;
}
/*.hidden {
	display: none;
}*/